<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Wavevision Nette Webpack Examples</title>
	{control assets:styles}
</head>
<body>
{include content}
{control assets:scripts}
</body>
</html>
