application:
	mapping:
		*: Wavevision\NetteWebpackExamples\*Module\Presenters\*Presenter

services:
	router: Wavevision\NetteWebpackExamples\Router\RouterFactory::createRouter()

extensions:
	webpack: Wavevision\NetteWebpack\DI\Extension(%debugMode%, false)

webpack:
	debugger: %debugMode%
	devServer:
		enabled: false
		url: http://localhost:9006
	dir: %wwwDir%/dist
	dist: dist
	entries:
		entry: true
		example: false
	manifest: manifest.json
